<body style="
    background: rgb(30, 93, 210);
">
<h1>Veiculos do Jé <h1>
  ---- Carro bom, bonito e barato ----<br>
<img src="http://guiadebairro.net/niteroi/wp-content/uploads/2018/08/Carros-Seminovos.jpg" style="
    width: 681px"><br>
 ---- Carro bom, bonito e barato ----<br>
 Fale Conosco tel 11 - 98765-8756<br>
 <a target="_blank" href="https://api.whatsapp.com/send?phone=5511985107965&text=Carros%20usados%20do%20J%C3%A9...%20compre%20hoje%20e%20ganhe%20um%20caf%C3%A9!!!!!"> Whatsapp</a>
</body>

