<body style="
    background: chocolate;
">
<h1>Guidotti´s Burger<h1>
Melhor casa de hamburger Artesanal da Zona Sul<br>
<img src="https://respostas.sebrae.com.br/wp-content/uploads/2020/06/como_fazer_hamburguer_caseiro-806x440.jpg" style="
    width: 681px">
</body>
